<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="encabezado-parcial">
            <img src="{{ url_for('static', filename='wilder.jpeg') }}" alt="Foto" class="foto">
            <div class="info-parcial">
                <p><strong>SEGUNDO PARCIAL TEM-742</strong></p>
                <p>Nombre: Wilder Ali Mayta</p>
                <p>Carnet: 9971283 Lp</p>
            </div>
        </div>

        <h1>Gestión de Productos</h1>

        <a href="#formulario">Nuevo Producto</a>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Fecha Vencimiento</th>
                    <th>Categoría</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.cantidad }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.fecha_vencimiento }}</td>
                    <td>{{ producto.categoria }}</td>
                    <td>
                        <a href="{{ url_for('editar_producto', id=producto.id) }}">Editar</a> |
                        <a href="{{ url_for('eliminar_producto', id=producto.id) }}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br><br>
        <h2 id="formulario">Agregar Producto</h2>
        <form action="{{ url_for('agregar_producto') }}" method="POST">
            <input type="text" name="nombre" placeholder="Nombre" required>
            <input type="number" name="cantidad" placeholder="Cantidad" required>
            <input type="number" step="0.01" name="precio" placeholder="Precio" required>
            <input type="date" name="fecha_vencimiento" required>
            <input type="text" name="categoria" placeholder="Categoría" required>
            <input type="submit" value="Agregar">
        </form>
    </div>
</body>
</html>

